<div class="container pb-5 pt-5">

  <div>
    <h1 class="text-center">Recuperar contraseña: Paso 1</h1>
  </div>

  <div class="container mt-4">
    <form action="">

      <input
        id="correo"
        type="text"
        class="form-control mt-2 mb-3"
        placeholder="Correo"
        aria-label="correo"
      />


      
        <button      
          class="btn btn-primary ms-2"
          onclick="enviarCorreo(event)"

        >Enviar correo</button>



        <p>Si hay un usuario registrado, enviaremos un correo a la dirección indicada</p>

    </form>
  </div>
  

</div>

<script src="static/js/home.js"></script>