<div class="container pb-5 pt-5">

  <div>
    <h1 class="text-center">Login</h1>
  </div>

  <div class="container mt-4">
    <form action="">

      <input
        id="correo"
        type="text"
        class="form-control mt-2 mb-3"
        placeholder="Correo"
        aria-label="correo"
      />

      <input
        id="password"
        type="password"
        class="form-control mt-2 mb-3"
        placeholder="Password"
        aria-label="password"
      />

      <div class="d-flex justify-content-center">
        <button
          type="button"
          onclick="login(event)"
          class="btn btn-primary"
        >Iniciar sesión</button>

        <a      
        href="http://localhost:8080/registro" 
          class="btn btn-primary ms-2"
        >Registrarse</a>

        <a href="api/auth/github" class="btn btn-primary ms-2">
          Continuar con GitHub
        </a>
      </div>
    </form>
  </div>
</div>

<script src="static/js/home.js"></script>