<div class="container pb-5 pt-5">

  <div>
    <h1 class="text-center">Recuperar contraseña: Paso 2</h1>
  </div>

  <div class="container mt-4">
    <form action="">

      <input
        id="nuevaPass"
        type="password"
        class="form-control mt-2 mb-3"
        placeholder="Nueva contraseña"
      />

      <button
        class="btn btn-primary ms-2"
        onclick="cambiarpass()"
        id="nuevaPass"
      >Cambiar clave</button>

    </form>
  </div>

</div>

<script src="static/js/home.js"></script>