<div class="container pb-5 pt-5">

  <div>
    <h1 class="text-center">Registro</h1>
  </div>

  <div class="container mt-4">
    <form action="">

            <input
            id="nombre"
            type="text"
            class="form-control mt-2 mb-3"
            placeholder="Nombre"
            aria-label="nombre"
          />

           <input
            id="apellido"
            type="text"
            class="form-control mt-2 mb-3"
            placeholder="Apellido"
            aria-label="apellido"
          />

           <input
            id="correo"
            type="text"
            class="form-control mt-2 mb-3"
            placeholder="Correo"
            aria-label="correo"
          />

           <input
            id="edad"
            type="number"
            class="form-control mt-2 mb-3"
            placeholder="Edad"
            aria-label="edad"
          />

           <input
            id="password"
            type="password"
            class="form-control mt-2 mb-3"
            placeholder="Password"
            aria-label="password"
          />
      
      <div class="d-flex justify-content-center">
        <button
        type="button"
        onclick="registrar(event)"
        class="btn btn-primary"
      >Registrarse</button>
      </div>
    </form>
</div>

<script src="static/js/registro.js"></script>